:root {
    --GiveImage-Button-Left: 50%;
    --GiveImage-Button-Top: 88%;
    --Button_Width: 456px;
    --Button_Height: 146px;
    
}

body {
  background: #FFADC8
}

.EnglishLogo {
    position: absolute;
    left: 50%;
    top: 39%;
    
    /*
    left: 50%;
    top: 40%;
    */
    
    transform: translate(-50%, -50%);


}

.EnglishGiveImage {
    position: absolute;
    left: var(--GiveImage-Button-Left);
    top: var(--GiveImage-Button-Top);
    
    /*
    left: 50%;
    top: 88%;
    */
    
    transform: translate(-50%, -50%);
    height: var(--Button_Height);
    width: var(--Button_Width);
}


.DispInEng {
    position: absolute;
    left: 90%;
    top: 10%;
    
    /*
    left: 50%;
    top: 88%;
    */
    
    transform: translate(-50%, -50%);
}

.EnglishWait{
    position: absolute;
    left: var(--GiveImage-Button-Left);
    top: var(--GiveImage-Button-Top);
    
    /*
    left: 50%;
    top: 88%;
    */
    
    transform: translate(-50%, -50%);
    height: var(--Button_Height);
    width: var(--Button_Width);
}

.EnglishResults{
    position: absolute;
    left: var(--GiveImage-Button-Left);
    top: var(--GiveImage-Button-Top);
    
    /*
    left: 50%;
    top: 88%;
    */
    
    transform: translate(-50%, -50%);
    height: var(--Button_Height);
    width: var(--Button_Width);
}

.ChineseLogo {
    position: absolute;
    left: 50%;
    top: 39%;
    
    /*
    left: 50%;
    top: 40%;
    */
    
    transform: translate(-50%, -50%);
}
.ChineseGiveImage {
    position: absolute;
    left: 50%;
    top: 88%;
    
    /*
    left: 50%;
    top: 88%;
    */
    
    transform: translate(-50%, -50%);
    height: var(--Button_Height);
    width: var(--Button_Width);
}
.DispInCHN {
    position: absolute;
    left: 90%;
    top: 10%;
    
    /*
    left: 50%;
    top: 88%;
    */
    
    transform: translate(-50%, -50%);
}

.ChineseWait{
    position: absolute;
    left: var(--GiveImage-Button-Left);
    top: var(--GiveImage-Button-Top);
    
    /*
    left: 50%;
    top: 88%;
    */
    
    transform: translate(-50%, -50%);
    height: var(--Button_Height);
    width: var(--Button_Width);
}

.ChineseResults{
    position: absolute;
    left: var(--GiveImage-Button-Left);
    top: var(--GiveImage-Button-Top);
    
    /*
    left: 50%;
    top: 88%;
    */
    
    transform: translate(-50%, -50%);
    height: var(--Button_Height);
    width: var(--Button_Width);
}
/*
.UploadButton{
    position: absolute;
    left: var(--GiveImage-Button-Left);
    top: var(--GiveImage-Button-Top);
    
    
    left: 50%;
    top: 88%;
    
    
    transform: translate(-50%, -50%);
    height: var(--Button_Height);
    width: var(--Button_Width);
}
*/

/**/
.uploadImage{
    position: absolute;
    left: var(--GiveImage-Button-Left);
    top: var(--GiveImage-Button-Top);
    
    transform: translate(-50%, -50%);
    height: var(--Button_Height);
    width: var(--Button_Width);
}


.imageList{
    width: auto;
    height: auto;
    max-width:50%;
    max-height:50%;
    left: 50vw;
    top: 125vh;
    position: absolute;
    transform: translate(-50%, -50%);
}

#Chinese {
    display: none;
}
#EngWait {
    display: none;
}
#CHNWait {
    display: none;
}
#EngRes {
    display: none;
}
#CHNRes {
    display: none;
}
#photo {
    display: none;
}